h2{
   color: black; 
   font-family: "Calabri", Monaco, monospace;
   border: 2px solid black
   padding: 5px;
   margin: 0px;
}

div{
    border: 2px solid black
}

#secretpuzzle{
    color:cadetblue;
}

#topfivefavoritemovies{
    color:chocolate;
}

#top10favoritefoods{
    color:cornflowerblue;
}

#statesihavetraveledto{
    color:crimson;
}

#studentwebsites{
    color:darkmagenta
}

#colors{
    color:grey;
}

#htmlexperiment{
    color:darkviolet;
}

.movietitles{
    font-style: italic;
}

.states{
    font-style: italic;
}
